<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>河京イントラネット</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">河京　イントラネット</a> <input class="form-control form-control-dark w-100" type="text"
			placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active" href="/">
								<span data-feather="home"></span> Dashboard <span
								class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/todayClient"> <span
								data-feather="shopping-cart"></span> Today's Client
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/searchNoodles"> <span
							data-feather="file"></span> Count Noodles
					</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="users"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="bar-chart-2"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="layers"></span> Coming soon...
						</a></li>
					</ul>

					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Saved reports</span> <a
							class="d-flex align-items-center text-muted" href="#"> <span
							data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Coming soon...
						</a></li>
					</ul>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="table-area">
					<table id="summaryEarningsTable" class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th class="text-center header">
									本日の売上<br>
									<span style="font-size:20px;">(カクテルから吸い上げ)</span>
								</th>
								<th class="text-center header">
									本日までの累計売上<br>
									<span style="font-size:20px;">(カクテルから吸い上げ)</span>
								</th>
								<th class="text-center header">
									目標売上<br>
									<span style="font-size:20px;">(kintoneから吸い上げ)</span>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center" th:text="${#numbers.formatInteger(todayEarnings,3,'COMMA')}"></td>
								<td class="text-center" th:text="${#numbers.formatInteger(totalEarnings,3,'COMMA')}"></td>
								<td class="text-center" th:text="${#numbers.formatInteger(goalEarnings,3,'COMMA')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">今月の本社売上推移</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
						<button type="button"
							class="btn btn-sm btn-outline-secondary dropdown-toggle">
							<span data-feather="calendar"></span> This week
						</button>
					</div>
				</div>

				<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

				<h2>今月の本社売上データ</h2>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>日付</th>
								<th>今期売上</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="element, stat : ${earnings}">
								<td th:text="|${#strings.substring(element.key,0,4)}年${#strings.substring(element.key,4,6)}月${#strings.substring(element.key,6,8)}日|"></td>
								<td th:text="${#numbers.formatInteger(element.value, 3, 'COMMA')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
(function () {
	  'use strict'

	  feather.replace()

	  // Graphs
	  var ctx = document.getElementById('myChart')

	  //売上データ取得
	  var earningsMap = /*[[${earnings}]]*/ {};
	  var lastYearMonthEarningsMap = /*[[${lastYearEarnings}]]*/ {};
	  var labels = new Array();
	  var earnings = new Array();
	  var lastYearEatnings = new Array();
	  Object.keys(earningsMap).forEach(key => {
		  	labels.push(key);
		  	earnings.push(earningsMap[key]);
		  });
	  Object.keys(lastYearMonthEarningsMap).forEach(key => {
		  lastYearEatnings.push(lastYearMonthEarningsMap[key]);
		  });

	  //eslint-disable-next-line no-unused-vars
	  var myChart = new Chart(ctx, {
	    type: 'line',
	    data: {
	      labels: labels
	    ,
	      datasets: [{
	    	label: '今期',
	        data: earnings,
	        lineTension: 0,
	        backgroundColor: 'transparent',
	        borderColor: '#007bff',
	        borderWidth: 4,
	        pointBackgroundColor: '#007bff'
	      },{
	    	label: '前期',
		    data: lastYearEatnings,
		    lineTension: 0,
		    backgroundColor: 'transparent',
		    borderColor: '#ff0808',
		    borderWidth: 4,
		    pointBackgroundColor: '#ff0808'
		  }]
	    },
	    options: {
	      scales: {
	        yAxes: [{
	          ticks: {
	            beginAtZero: false
	          }
	        }]
	      },
	      legend: {
	        display: true,
	        position:'top'
	      }
	    }
	  })
	}())
	/*]]>*/

	setTimeout(function(){
		window.location.href="/todayClient";
	},300000);


</script>
</body>
</html>