<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: meta_header('出荷麺数表',~{::link},~{::script})">
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
</head>
<body>
	<div th:replace="base :: header"></div>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:replace="base :: side_menu(3)">
				
			</nav>


			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<!-- コンテンツエリア  -->
				<h1 style="margin-top:50px;">■製造麺数計算</h1>

				<div class="container">
					<form role="form" action="/searchNoodles" th:action="@{/searchNoodles}" th:object="${searchNoodlesInputForm}" method="POST">
						<div class="form-row">
							<label for="inputShippingDateStart">出荷予定日：
								<input type="text" id="inputShippingDateStartForm" class="form-control" name="inputShippingDateStart" th:field="*{inputShippingDateStart}">
							</label>
							<span style="margin: 0 5px;">～</span>
							<label for="inputShippingDateEnd"><input type="text" id="inputShippingDateEndForm" class="form-control" name="inputShippingDateEnd" th:field="*{inputShippingDateEnd}"></label>
						</div>
						<div class="btn-group">
							<button type="submit" class="btn btn-primary">検索</button>
							<button id="resetButton" type="button" class="btn btn-warning">クリア</button>
						</div>
					</form>
				</div>
				
				<table id="searchNoodlesResultTable" class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>商品名</th>
							<th>必要数</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center" th:text="HT120g太麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(HT_120,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="HT120g細麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(HT_120_hoso,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="HT130g麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(HT_130,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="多加水麺130g"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(takasui_130,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="はせ川用麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(hasegawa,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="喜鈴業務用麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(kirin_150,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="半生麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(hannama,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="極太麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(gokubuto_120,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="よもぎ麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(yomogi,3,'COMMA')}"></td>
						</tr>
					</tbody>
				</table>
			</main>
		</div>
	</div>
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery-ui-i18n.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
			feather.replace();
			/*]]>*/
		</script>
	<script th:inline="javascript" type="text/javascript">
		$(function() {
			$.datepicker.setDefaults($.datepicker.regional["ja"]);
			$("#inputShippingDateStartForm,#inputShippingDateEndForm").datepicker({
				dateFormat : 'yymmdd'
			});
		});
		$("#resetButton").on("click", function() {
			$("#inputShippingDateStartForm,#inputShippingDateEndForm").val("");
		});
	</script>
</body>
</html>