<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>河京イントラネット | 本日の受注取引先一覧</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
<link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">河京　イントラネット</a> <input class="form-control form-control-dark w-100" type="text"
			placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link" href="/">
								<span data-feather="home"></span> Dashboard 
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/todayClient"> <span
								data-feather="shopping-cart"></span> Today's Client<span
								class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link active" href="/searchNoodles"> <span
								data-feather="file"></span> Count Noodles
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="users"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="bar-chart-2"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="layers"></span> Coming soon...
						</a></li>
					</ul>

					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Saved reports</span> <a
							class="d-flex align-items-center text-muted" href="#"> <span
							data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Coming soon...
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Coming soon...
						</a></li>
					</ul>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<!-- コンテンツエリア  -->
				<h1 style="margin-top:50px;">■製造麺数計算</h1>

				<div class="container">
					<form role="form" action="/searchNoodles" th:action="@{/searchNoodles}" th:object="${searchNoodlesInputForm}" method="POST">
						<div class="form-row">
							<label for="inputShippingDateStart">出荷予定日：
								<input type="text" id="inputShippingDateStartForm" class="form-control" name="inputShippingDateStart" th:field="*{inputShippingDateStart}">
							</label>
							<span style="margin: 0 5px;">～</span>
							<label for="inputShippingDateEnd"><input type="text" id="inputShippingDateEndForm" class="form-control" name="inputShippingDateEnd" th:field="*{inputShippingDateEnd}"></label>
						</div>
						<div class="btn-group">
							<button type="submit" class="btn btn-primary">検索</button>
							<button id="resetButton" type="button" class="btn btn-warning">クリア</button>
						</div>
					</form>
				</div>
				
				<table id="searchNoodlesResultTable" class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>商品名</th>
							<th>必要数</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center" th:text="HT120g太麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(HT_120,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="HT120g細麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(HT_120_hoso,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="HT130g麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(HT_130,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="多加水麺130g"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(takasui_130,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="はせ川用麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(hasegawa,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="喜鈴業務用麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(kirin_150,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="半生麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(hannama,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="極太麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(gokubuto_120,3,'COMMA')}"></td>
						</tr>
						<tr>
							<td class="text-center" th:text="よもぎ麺"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(yomogi,3,'COMMA')}"></td>
						</tr>
					</tbody>
				</table>
			</main>
		</div>
	</div>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery-ui-i18n.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
			feather.replace();
			/*]]>*/
		</script>
	<script th:inline="javascript" type="text/javascript">
		$(function() {
			$.datepicker.setDefaults($.datepicker.regional["ja"]);
			$("#inputShippingDateStartForm,#inputShippingDateEndForm").datepicker({
				dateFormat : 'yymmdd'
			});
		});
		$("#resetButton").on("click", function() {
			$("#inputShippingDateStartForm,#inputShippingDateEndForm").val("");
		});
	</script>
</body>
</html>