<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: meta_header('本日の受注',~{::link},~{::script})">
</head>
<body>
	<div th:replace="base :: header"></div>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:replace="base :: side_menu(2)">
				
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<!-- コンテンツエリア  -->
				<h1 style="margin-top:50px;">■本日の受注取引先様一覧</h1>
				
				<table id="todayClientInfoTable" class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>得意先名</th>
							<th>出荷予定日</th>
							<th>受注金額</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="orderCustomerInfo : ${orderCustomerInfoList}" th:object="${orderCustomerInfo}">
							<td class="text-center" th:text="*{tokrn}"></td>
							<td class="text-center" th:text="|${#strings.substring(orderCustomerInfo.jucsyydt,0,4)}年${#strings.substring(orderCustomerInfo.jucsyydt,4,6)}月${#strings.substring(orderCustomerInfo.jucsyydt,6,8)}日|"></td>
							<td class="text-center" th:text="${#numbers.formatInteger(orderCustomerInfo.sbauodkn,3,'COMMA')}"></td>
						</tr>
					</tbody>
				</table>
			</main>
		</div>
	</div>
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/
		feather.replace();
		
		setTimeout(function(){
			window.location.href="/";
		},300000);
		/*]]>*/
	</script>
</body>
</html>